In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_excel('WAO 2 April.xlsx', sheet_name='Sheet1')

In [ ]:
df

In [22]:
NE = input('Please Enter BSC/RNC:')
#prov = input ('Please Enter Province Index:')
Technology = input ('Please Enter Technology:')

Please Enter BSC/RNC:B052E
Please Enter Technology:2G

In [23]:
df2 = df[(df['NE']==NE) & (df['Technology']==Technology)]

In [24]:
df3 = []
df3 = pd.DataFrame(df3)
df3['StartofOutage'] = df2.groupby(by='GroupNumber')['StartOfOutage'].max()
df3['EndofOutage'] = df2.groupby(by='GroupNumber')['EndOfOutage'].max()
df3['CountofOutage'] = df2.groupby(by='GroupNumber')['CountOfOutageInGroup'].max()
df3['Duration'] = df2.groupby(by='GroupNumber')['Duration'].mean()
#df3['Province Index'] = prov
df3['BSC/RNC'] = NE
df3.reset_index(inplace=True)

In [25]:
df3

Empty DataFrame
Columns: [GroupNumber, StartofOutage, EndofOutage, CountofOutage, Duration, BSC/RNC]
Index: []

In [ ]:
### run this section if you get too many results from df3

startoutage = input ('Please Enter StartofOutage:(Ex: 2020-03-27 21:00:00)')
df3 = df3[df3['StartofOutage']==startoutage]
df3

In [17]:
Groupnumber = input('Please Enter GroupNumber:')
Groupnumber = int(Groupnumber)
df4 = df2[df2['GroupNumber'] == Groupnumber]

Please Enter GroupNumber:7900

In [18]:
df4.drop(columns=['CellName','Site', 'Province Index', 'StartOfOutage', 'EndOfOutage', 'Duration', 'Technology', 
                 'CountOfOutageInGroup', 'GroupNumber'],inplace = True)

In [19]:
df4.drop_duplicates(inplace=True)

c:\users\milad\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
df4

                     NE Location   Latitude  Longitude
8230   Kermanshah_R831H   KS0021  34.679400  46.272700
8672   Kermanshah_R831H   KS0027  34.808010  46.493230
8903   Kermanshah_R831H   KS0472  34.761630  46.216620
9756   Kermanshah_R831H   KS0340  34.716760  46.175400
10322  Kermanshah_R831H   KS0889  34.827970  46.454610
14588  Kermanshah_R831H   KS0232  34.779080  46.432700
16421  Kermanshah_R831H   KS0835  34.593230  46.072250
17491  Kermanshah_R831H   KS0140  34.850390  46.525600
18513  Kermanshah_R831H   KS0475  34.764070  46.532100
19375  Kermanshah_R831H   KS0469  34.803310  46.563460
19860  Kermanshah_R831H   KS0258  34.795430  46.517850
20036  Kermanshah_R831H   KS0470  34.723930  46.198200
20248  Kermanshah_R831H   KS0203  34.859310  46.349560
20295  Kermanshah_R831H   KS0512  34.773080  46.355030
25235  Kermanshah_R831H   KS0823  34.743080  46.150040
26142  Kermanshah_R831H   KS0452  34.688810  46.147780
27096  Kermanshah_R831H   KS0396  34.890650  46.491140
35296  Kermanshah_R831H   KS0810  34.809752  46.500816

In [21]:
df4.to_excel('Kermanshah_R831H.xlsx')